@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  background-color: #F7EFE5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  overflow:none;
  font-family: 'Inter', sans-serif;
}

.title {
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: #3FABAF;
  font-weight:600;
}

.description {
  text-align: left;
  font-size: calc(1px + 2vmin);
  color: #222222;
  font-weight:400;
  width: 31%;
}

.profile-pic{
  
}
