@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  background-color: #f7efe5;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: none;
  font-family: "Inter", sans-serif;
}

.title {
  text-align: left;
  padding-bottom: 1em;
  font-size: calc(10px + 2vmin);
  color: #3fabaf;
  font-weight: 600;
}

.description {
  text-align: left;
  font-size: calc(1px + 2vmin);
  color: #222222;
  font-weight: 400;
  width: 80%;
  padding-bottom: 1em;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

.left-column {
  width: 30%;
  margin-right: 4vw;
}

.profile-pic {
  width: 50%;
  height: 50%;
  float: right;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
}

.social-media-icon {
  margin-right: 2%;
}
